<font size="3">**Available Leagues for a Given Area Code**</font>

In [47]:
from importfunctionsv3_timelimits_updating import *
from itables import show
headers = get_headers(client_id, client_secret)
area_code = 'DEU'
competition_df = get_competition_dataframe(area_code, headers)
competition_df = competition_df.sort_values(by='divisionLevel', ascending=True)
country = 'germany'
#competition_df.to_sql(f"{country}_competitions", engine, if_exists='append', index=False)

Successfully retrieved competitions data

In [48]:
show(competition_df)

<font size="3">**Matches for given seasons** </font>

In [49]:
df_season_filtered = competition_df[competition_df['wyId'] == 425]
df_season_filtered

,wyId,name,format,type,category,gender,divisionLevel,id,alpha2code,alpha3code,area_name
15,425,3. Liga,Domestic league,club,default,male,3,276,DE,DEU,Germany

In [50]:
seasons_df = get_seasons_dataframe(df_season_filtered, headers)

In [51]:
seasons_df['startDate'] = pd.to_datetime(seasons_df['startDate'])
df_filtered = seasons_df[seasons_df['startDate'].dt.year >= 2023]

In [52]:
matches_df = get_matches_dataframe(df_filtered, headers)

from sqlalchemy import create_engine, text
import pandas as pd

# Initialize the engine
engine = create_engine('postgresql://postgres:Password-@localhost:5432/wyscout')

# Test connection
try:
    conn = engine.connect()
    print("Successfully connected!")
except Exception as e:
    print("Couldn't connect to the database")
    print(str(e))
    exit()


table_name = f"{country}_matches"
sql_query = f'SELECT DISTINCT "matchId" FROM {table_name};'

# Execute the query and fetch results into a DataFrame
try:
    result = conn.execute(text(sql_query))
    existing_wyIds = pd.DataFrame(result.fetchall())  # Convert the result to a DataFrame
    existing_wyIds.columns = result.keys()  # Set the column names
    print("Successfully populated the existing_wyIds DataFrame")
    print(existing_wyIds.head())
except Exception as e:
    print("Failed to execute query.")
    print(str(e))

# Close the connection
conn.close()
# Convert the retrieved values to a set for faster lookup
existing_wyIds_set = set(existing_wyIds['matchId'])

# Step 2: Identify new matches in matches_df by checking if the matchId is not in the existing_wyIds_set
matches_new = matches_df[~matches_df['matchId'].isin(existing_wyIds_set)]
new_match_ids = matches_new['matchId'].tolist()

# Print the number of new matches identified
print(f"Identified {len(matches_new)} new matches.")

# Step 3: Update the SQL database with new matches
if not matches_new.empty:
    matches_new.to_sql(f"{country}_matches", engine, if_exists='append', index=False)
    print("New matches have been added to the database.")
else:
    print("No new matches to add.")
    
matches_df

Successfully connected!
Successfully populated the existing_wyIds DataFrame
   matchId
0  2750994
1  2755333
2  5355590
3  5487153
4  5366926
Identified 20 new matches.
New matches have been added to the database.

,matchId,label,date,dateutc,status,competitionId,seasonId,roundId,gameweek
0,5485066,"Erzgebirge Aue - Ulm, 1-2",2023-10-22 19:30:00,2023-10-22 17:30:00,Played,425,189041,4429596,12
1,5485058,"Rot-Weiss Essen - Saarbrücken, 2-1",2023-10-22 16:30:00,2023-10-22 14:30:00,Played,425,189041,4429596,12
2,5485063,"Sandhausen - Verl, 2-2",2023-10-22 13:30:00,2023-10-22 11:30:00,Played,425,189041,4429596,12
3,5485060,"MSV Duisburg - Arminia Bielefeld, 0-1",2023-10-21 16:30:00,2023-10-21 14:30:00,Played,425,189041,4429596,12
4,5485061,"Ingolstadt - Unterhaching, 3-0",2023-10-21 14:00:00,2023-10-21 12:00:00,Played,425,189041,4429596,12
...,...,...,...,...,...,...,...,...,...
115,5484949,"Lübeck - Sandhausen, 0-0",2023-08-05 14:00:00,2023-08-05 12:00:00,Played,425,189041,4429596,1
116,5484952,"1860 München - Waldhof Mannheim, 2-0",2023-08-05 14:00:00,2023-08-05 12:00:00,Played,425,189041,4429596,1
117,5484953,"Preußen Münster - Borussia Dortmund II, 0-0",2023-08-05 14:00:00,2023-08-05 12:00:00,Played,425,189041,4429596,1
118,5484955,"Jahn Regensburg - Unterhaching, 1-1",2023-08-05 14:00:00,2023-08-05 12:00:00,Played,425,189041,4429596,1
119,5484954,"Hallescher FC - Rot-Weiss Essen, 2-1",2023-08-04 19:00:00,2023-08-04 17:00:00,Played,425,189041,4429596,1

<font size="3">**Matchstats for a given MatchId** </font>

In [53]:
df = get_and_process_advanced_stats(matches_new, client_id, client_secret, country)

Data for matchId: 5485066 has been processed and saved to SQL.
Data for matchId: 5485058 has been processed and saved to SQL.
Data for matchId: 5485063 has been processed and saved to SQL.
Data for matchId: 5485060 has been processed and saved to SQL.
Data for matchId: 5485061 has been processed and saved to SQL.
Data for matchId: 5485062 has been processed and saved to SQL.
Data for matchId: 5485064 has been processed and saved to SQL.
Data for matchId: 5485065 has been processed and saved to SQL.
Data for matchId: 5485067 has been processed and saved to SQL.
Data for matchId: 5485059 has been processed and saved to SQL.
Error processing matchId: 5485057. Response code: 400. Response text: {"error":{"code":404,"message":"Not Found: No statistical data available"}}
No advanced stats data for matchId: 5485057
Data for matchId: 5485054 has been processed and saved to SQL.
Data for matchId: 5485053 has been processed and saved to SQL.
Data for matchId: 5485051 has been processed and saved to SQL.
Data for matchId: 5485048 has been processed and saved to SQL.
Data for matchId: 5485049 has been processed and saved to SQL.
Data for matchId: 5485050 has been processed and saved to SQL.
Data for matchId: 5485052 has been processed and saved to SQL.
Error processing matchId: 5485055. Response code: 400. Response text: {"error":{"code":404,"message":"Not Found: No statistical data available"}}
No advanced stats data for matchId: 5485055
Data for matchId: 5485056 has been processed and saved to SQL.
All match data has been processed and saved to SQL.

<font size="3">**Events for a given MatchID** </font>

In [54]:
with engine.connect() as conn:
    odds_data = pd.read_sql(f"{country}_advancedmatchstats", conn)
   
match_dict = {}
for idx, row in odds_data.iterrows():
    match_dict[row['match_id']] = {'home_id': row['home_id'], 'away_id': row['away_id']}

In [55]:
season_ids = df_filtered['seasonId'].unique()
get_match_events(matches_new, client_id, client_secret, season_ids, country, match_dict)

Processing season ID: 190021
Processing for season ID 190021 complete.
Processing season ID: 189041
  Processing match ID: 5485066

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485066
  Processing match ID: 5485058

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485058
  Processing match ID: 5485063

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485063
  Processing match ID: 5485060

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485060
  Processing match ID: 5485061

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485061
  Processing match ID: 5485062

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485062
  Processing match ID: 5485064

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485064
  Processing match ID: 5485065

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485065
  Processing match ID: 5485067

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485067
  Processing match ID: 5485059

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485059
  Processing match ID: 5485057
  Error with match ID 5485057: 400
  Caught HTTPError for match ID 5485057: 400 Client Error: Bad Request for url: https://apirest.wyscout.com/v3/matches/5485057/events
  Processing match ID: 5485054

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485054
  Processing match ID: 5485053

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485053
  Processing match ID: 5485051

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485051
  Processing match ID: 5485048

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485048
  Processing match ID: 5485049

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485049
  Processing match ID: 5485050

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485050
  Processing match ID: 5485052

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485052
  Processing match ID: 5485055
  Error with match ID 5485055: 400
  Caught HTTPError for match ID 5485055: 400 Client Error: Bad Request for url: https://apirest.wyscout.com/v3/matches/5485055/events
  Processing match ID: 5485056

C:\Users\oskar\Wyscout API\V3\importfunctionsv3_timelimits_updating.py:355: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_events_df = pd.concat(match_events_df_list, ignore_index=True)

  Successfully processed match ID: 5485056
Processing for season ID 189041 complete.