<font size="3">**Available Leagues for a Given Area Code**</font>

In [1]:
from importfunctionsv3_timelimits import *
headers = get_headers(client_id, client_secret)
area_code = 'POL'
competition_df = get_competition_dataframe(area_code, headers)
competition_df = competition_df.sort_values(by='divisionLevel', ascending=True)
country = 'poland'
#competition_df.to_sql(f"{country}_competitions", engine, if_exists='append', index=False)

Successfully retrieved competitions data

In [2]:
competition_df

,wyId,name,format,type,category,gender,divisionLevel,id,alpha2code,alpha3code,area_name
2,691,Cup,Domestic cup,club,default,male,0,616,PL,POL,Poland
4,700,Super Cup,Domestic super cup,club,default,male,0,616,PL,POL,Poland
5,698,League Cup,Domestic cup,club,default,male,0,616,PL,POL,Poland
10,1413,Play-offs 1/2,Domestic cup,club,default,male,0,616,PL,POL,Poland
12,1646,Women's Play-offs 1/2,Domestic cup,club,default,female,0,616,PL,POL,Poland
13,1774,Play-offs 2/3,Domestic cup,club,default,male,0,616,PL,POL,Poland
14,43031,Women's Cup,Domestic cup,club,default,female,0,616,PL,POL,Poland
0,692,Ekstraklasa,Domestic league,club,default,male,1,616,PL,POL,Poland
3,693,Ekstraliga Women,Domestic league,club,default,female,1,616,PL,POL,Poland
11,1529,Central Youth League,Domestic league,club,U19,male,1,616,PL,POL,Poland
1,694,I Liga,Domestic league,club,default,male,2,616,PL,POL,Poland
8,695,I Liga Women,Domestic league,club,default,female,2,616,PL,POL,Poland
6,696,II Liga,Domestic league,club,default,male,3,616,PL,POL,Poland
7,697,III Liga,Domestic league,club,default,male,4,616,PL,POL,Poland
9,1324,Mloda Ekstraklasa,Domestic league,club,default,male,5,616,PL,POL,Poland

<font size="3">**Seasons for a given competition** </font>

In [3]:
seasons_df_full = get_seasons_dataframe(competition_df, headers)
#seasons_df_full.to_sql(f"{country}_seasons", engine, if_exists='append', index=False)

In [4]:
seasons_df_full

,competition_wyId,seasonId,season_wyId,name,startDate,endDate,active,competitionId
0,691,189157,189157,2023/2024,2023-07-25,2024-05-01,True,691
1,691,188412,188412,2022/2023,2022-07-26,2023-05-02,False,691
2,691,187441,187441,2021/2022,2021-08-04,2022-05-02,False,691
3,691,186364,186364,2020/2021,2020-08-13,2021-05-02,False,691
4,691,185765,185765,2019/2020,2019-08-06,2020-07-31,False,691
...,...,...,...,...,...,...,...,...
166,697,3329,3329,2011/2012,2011-08-06,2012-06-17,False,697
167,697,3328,3328,2010/2011,2010-08-06,2011-06-25,False,697
168,697,3327,3327,2009/2010,2009-08-08,2010-07-07,False,697
169,697,3326,3326,2008/2009,2008-08-09,2009-06-07,False,697
170,1324,6547,6547,2012/2013,2012-08-04,2013-06-03,False,1324

<font size="3">**Matches for given seasons** </font>

In [5]:
df_season_filtered = competition_df[competition_df['name'] == 'II Liga']
df_season_filtered

,wyId,name,format,type,category,gender,divisionLevel,id,alpha2code,alpha3code,area_name
6,696,II Liga,Domestic league,club,default,male,3,616,PL,POL,Poland

In [6]:
seasons_df = get_seasons_dataframe(df_season_filtered, headers)

In [7]:
seasons_df['startDate'] = pd.to_datetime(seasons_df['startDate'])
df_filtered = seasons_df[seasons_df['startDate'].dt.year >= 2015]

In [8]:
matches_df = get_matches_dataframe(df_filtered, headers)
#matches_df.to_sql(f"{country}_matches", engine, if_exists='append', index=False)
matches_df

,matchId,label,date,dateutc,status,competitionId,seasonId,roundId,gameweek
0,5468343,"Jastrzębie - Olimpia Grudziądz, 3-2",2023-09-25 20:15:00,2023-09-25 18:15:00,Played,696,188979,4429447,10
1,5468346,"Łódzki KS II - Olimpia Elbląg, 1-1",2023-09-24 17:45:00,2023-09-24 15:45:00,Played,696,188979,4429447,10
2,5468347,"Stal Stalowa Wola - Polonia Bytom, 1-0",2023-09-24 15:00:00,2023-09-24 13:00:00,Played,696,188979,4429447,10
3,5468348,"Stomil Olsztyn - Sandecja Nowy Sącz, 1-0",2023-09-23 18:00:00,2023-09-23 16:00:00,Played,696,188979,4429447,10
4,5468344,"Pogoń Siedlce - Kotwica Kołobrzeg, 3-3",2023-09-23 16:00:00,2023-09-23 14:00:00,Played,696,188979,4429447,10
...,...,...,...,...,...,...,...,...,...
2581,1711985,"Stal Stalowa Wola - Nadwiślan Góra, 2-1",2015-08-01 17:00:00,2015-08-01 16:00:00,Played,696,9541,4166301,1
2582,1711978,"Olimpia Zambrów - Energetyk ROW Rybnik, 1-1",2015-08-01 16:00:00,2015-08-01 15:00:00,Played,696,9541,4166301,1
2583,1711984,"Puszcza Niepołomice - Siarka Tarnobrzeg, 0-3",2015-08-01 16:00:00,2015-08-01 15:00:00,Played,696,9541,4166301,1
2584,1711981,"Raków Częstochowa - Brzesko, 1-1",2015-08-01 16:00:00,2015-08-01 15:00:00,Played,696,9541,4166301,1
2585,1711983,"Gryf Wejherowo - Legionovia Legionowo, 1-0",2015-08-01 16:00:00,2015-08-01 15:00:00,Played,696,9541,4166301,1

<font size="3">**Teams for a given season** </font>

In [10]:
teams_df = get_teams_dataframe(df_filtered, headers)
teams_df = teams_df.drop_duplicates(subset = 'wyId', keep ='first')
#teams_df.drop(columns=['children', 'children_names', 'children_wyIds', 'imageDataURL', 'parent'], inplace=True)
#teams_df.drop(columns=['children', 'children_names', 'children_wyIds', 'imageDataURL'], inplace=True)

#teams_df.to_sql(f"{country}_teams", engine, if_exists='append', index=False)
teams_df

,wyId,name,officialName,city,type,category,gender,parent,imageDataURL,id,alpha2code,alpha3code,children_names,children_wyIds,seasonId,children
0,71859,Poland,Łódzki KS II,,club,default,male,"{'wyId': 13528, 'name': 'Łódzki KS'}",https://cdn5.wyscout.com/photos/team/public/g-...,616,PL,POL,[],[],188979,NaN
1,66147,Poland,Radunia Stężyca,,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g-...,616,PL,POL,[],[],188979,NaN
2,13541,Poland,KS Hutnik Kraków,Kraków,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g3...,616,PL,POL,[],[],188979,NaN
3,13546,Poland,ZKS Stal Stalowa Wola,Stalowa Wola,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g3...,616,PL,POL,[Stal Stalowa Wola U19],[27119],188979,"[{'name': 'Stal Stalowa Wola U19', 'wyId': 271..."
4,13560,Poland,TS Polonia Bytom,Bytom,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/45...,616,PL,POL,[],[],188979,NaN
5,13577,Poland,OKS Stomil Olsztyn,Olsztyn,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g6...,616,PL,POL,[Stomil Olsztyn U19],[27077],188979,"[{'name': 'Stomil Olsztyn U19', 'wyId': 27077}]"
6,13591,Poland,MKS GKS Jastrzębie,Jastrzebie Zdrój,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g8...,616,PL,POL,[],[],188979,NaN
7,13608,Poland,PKS Olimpia Elbląg,Elbląg,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/38...,616,PL,POL,[Olimpia Elbląg U19],[27080],188979,"[{'name': 'Olimpia Elbląg U19', 'wyId': 27080}]"
8,13625,Poland,MKS Sandecja Nowy Sącz,Nowy Sącz,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/28...,616,PL,POL,[],[],188979,NaN
9,13628,Poland,MKP Kotwica Kołobrzeg,Kolobrzeg,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g9...,616,PL,POL,[],[],188979,NaN
10,13671,Poland,Zagłębie Lubin II,Lubin,club,default,male,"{'wyId': 13520, 'name': 'Zagłębie Lubin'}",https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[],[],188979,NaN
11,13680,Poland,GKS Olimpia Grudziądz,Grudziądz,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/38...,616,PL,POL,[Olimpia Grudziądz U19],[31166],188979,"[{'name': 'Olimpia Grudziądz U19', 'wyId': 311..."
12,13769,Poland,KS Wisła Puławy,Puławy,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[Wisła Puławy II],[73861],188979,"[{'name': 'Wisła Puławy II', 'wyId': 73861}]"
13,13779,Poland,MKS Chojniczanka Chojnice,Chojnice,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[],[],188979,NaN
14,13795,Poland,MKP Pogoń Siedlce,Siedlce,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[Pogoń Siedlce II],[31235],188979,"[{'name': 'Pogoń Siedlce II', 'wyId': 31235}]"
15,13843,Poland,KS SKRA Częstochowa,Częstochowa,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[Skra Częstochowa II],[25715],188979,"[{'name': 'Skra Częstochowa II', 'wyId': 25715}]"
16,25940,Poland,KKS Lech Poznań II,Poznań,club,default,male,"{'wyId': 13510, 'name': 'Lech Poznań'}",https://cdn5.wyscout.com/photos/team/public/g2...,616,PL,POL,[],[],188979,NaN
17,34403,Poland,KKS 1925 Kalisz,Kalisz,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g3...,616,PL,POL,[],[],188979,NaN
19,13514,Poland,KSP Polonia Warszawa,Warszawa,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/44...,616,PL,POL,[],[],188132,NaN
20,13517,Poland,KS Górnik Polkowice,Polkowice,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/29...,616,PL,POL,[],[],188132,NaN
22,13543,Poland,KS Siarka Tarnobrzeg,Tarnobrzeg,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g3...,616,PL,POL,[],[],188132,NaN
24,13587,Poland,MKS Znicz Pruszków,Pruszków,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g7...,616,PL,POL,[Znicz Pruszków U15],[68090],188132,"[{'name': 'Znicz Pruszków U15', 'wyId': 68090}]"
26,13592,Poland,Motor Lublin SA,Lublin,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g8...,616,PL,POL,[Motor Lublin U19],[31169],188132,"[{'name': 'Motor Lublin U19', 'wyId': 31169}]"
27,13606,Poland,SKS Wigry Suwałki,Suwałki,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g8...,616,PL,POL,[],[],188132,NaN
31,13717,Poland,RKS Garbarnia Kraków,Kraków,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[Garbarnia Kraków II],[66733],188132,"[{'name': 'Garbarnia Kraków II', 'wyId': 66733}]"
34,25935,Poland,WKS Śląsk Wrocław II,Wrocław,club,default,male,"{'wyId': 13536, 'name': 'Śląsk Wrocław'}",https://cdn5.wyscout.com/photos/team/public/g2...,616,PL,POL,[],[],188132,NaN
38,13519,Poland,GKS Bełchatów,Bełchatów,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/45...,616,PL,POL,"[Bełchatów U21, Bełchatów II, GKS Bełchatów U19]","[23753, 25928, 27079]",187472,"[{'name': 'Bełchatów U21', 'wyId': 23753}, {'n..."
39,13525,Poland,KS Ruch Chorzów,Chorzów,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/45...,616,PL,POL,"[Ruch Chorzów U21, Ruch Chorzów II, Ruch Chorz...","[23749, 25951, 27099]",187472,"[{'name': 'Ruch Chorzów U21', 'wyId': 23749}, ..."
45,13623,Poland,ZKS Stal Rzeszów,Rzeszów,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g8...,616,PL,POL,"[Stal Rzeszów U19, Stal Rzeszów II]","[27115, 30754]",187472,"[{'name': 'Stal Rzeszów U19', 'wyId': 27115}, ..."
50,22373,Poland,Sokół Ostróda,,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g2...,616,PL,POL,[],[],187472,NaN
51,22875,Poland,GKS Pogoń Grodzisk Mazowiecki,Grodzisk Mazowiecki,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g2...,616,PL,POL,[],[],187472,NaN
55,13513,Poland,GKS Katowice,Katowice,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/27...,616,PL,POL,[],[],186242,NaN
63,13662,Poland,MKS Drutex Bytovia Bytów,Bytów,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[],[],186242,NaN
66,13747,Poland,KS Błękitni Stargard Szczeciński,Stargard Szczeciński,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[],[],186242,NaN
74,13511,Poland,GKS Górnik Łęczna,Łęczna,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/27...,616,PL,POL,[Górnik Łęczna U19],[27122],185764,"[{'name': 'Górnik Łęczna U19', 'wyId': 27122}]"
76,13515,Poland,RTS Widzew Łódź,Łódź,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/45...,616,PL,POL,"[Widzew Lódz U18, Widzew Łódź U15, Widzew Łódź...","[73283, 68091, 23744, 25927]",185764,"[{'name': 'Widzew Lódz U18', 'wyId': 73283}, {..."
81,13618,Poland,CWKS Resovia Rzeszów,Rzeszów,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g8...,616,PL,POL,[],[],185764,NaN
83,13640,Poland,TKP Elana Toruń,Toruń,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g9...,616,PL,POL,"[Elana Toruń II, Elana Toruń U19]","[66732, 27098]",185764,"[{'name': 'Elana Toruń II', 'wyId': 66732}, {'..."
85,13702,Poland,KS Legionovia Legionowo,Legionowo,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[],[],185764,NaN
88,13780,Poland,WKS Gryf Wejherowo,Wejherowo,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/45...,616,PL,POL,[Gryf Wejherowo U19],[66736],185764,"[{'name': 'Gryf Wejherowo U19', 'wyId': 66736}]"
98,13551,Poland,RKS Radomiak Radom,Radom,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g3...,616,PL,POL,[Radomiak Radom II],[71503],185567,"[{'name': 'Radomiak Radom II', 'wyId': 71503}]"
100,13605,Poland,KS Rozwój Katowice,Katowice,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g8...,616,PL,POL,[Rozwój II Katowice],[13845],185567,"[{'name': 'Rozwój II Katowice', 'wyId': 13845}]"
105,13726,Poland,KS ROW 1964 Rybnik,Rybnik,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[],[],185567,NaN
111,13528,Poland,Łódzki KS,Łódź,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/45...,616,PL,POL,"[Łódzki KS II, Łódzki KS U19]","[71859, 27086]",181392,"[{'name': 'Łódzki KS II', 'wyId': 71859}, {'na..."
113,13545,Poland,KS Warta Poznań,Poznan,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/27...,616,PL,POL,"[Warta Poznań II, Warta Poznań U15, Warta Pozn...","[67008, 24251, 27090]",181392,"[{'name': 'Warta Poznań II', 'wyId': 67008}, {..."
118,13595,Poland,MKS Kluczbork,Kluczbork,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g8...,616,PL,POL,[],[],181392,NaN
127,13826,Poland,KS Gwardia Koszalin,,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[],[],181392,NaN
130,13540,Poland,KS Raków Częstochowa,Częstochowa,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g3...,616,PL,POL,[Raków Częstochowa II],[66716],11161,"[{'name': 'Raków Częstochowa II', 'wyId': 66716}]"
135,13556,Poland,OKS Odra Opole,Opole,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g3...,616,PL,POL,[Odra Opole U19],[31167],11161,"[{'name': 'Odra Opole U19', 'wyId': 31167}]"
141,13713,Poland,MKS Puszcza Niepołomice,Niepołomice,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[],[],11161,NaN
143,13733,Poland,ZKS Olimpia Zambrów,Zambrów,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g1...,616,PL,POL,[],[],11161,NaN
148,13544,Poland,FKS Stal Mielec,Mielec,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g3...,616,PL,POL,[Stal Mielec U19],[27112],9541,"[{'name': 'Stal Mielec U19', 'wyId': 27112}]"
152,13576,Poland,Okocimski KS Brzesko,Brzesko,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g6...,616,PL,POL,[],[],9541,NaN
155,13647,Poland,GKS Tychy '71,Tychy,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g9...,616,PL,POL,[Tychy 71 II],[71856],9541,"[{'name': 'Tychy 71 II', 'wyId': 71856}]"
163,25946,Poland,LKS Nadwiślan Góra,Miedźna,club,default,male,NaN,https://cdn5.wyscout.com/photos/team/public/g2...,616,PL,POL,[],[],9541,NaN

<font size="3">**Players for a given season** </font>

In [11]:
unique_season_ids = df_filtered['seasonId']

all_players_data = []
for season_id in unique_season_ids:
    players_data = get_players_for_all_seasons([season_id])
    all_players_data.extend(players_data)
PLAYERS = organize_all_players_data(all_players_data)
PLAYERS = PLAYERS.drop_duplicates(subset='wyId', keep='first')
PLAYERS.to_sql(f"{country}_players", engine, if_exists='append', index=False)

Fetching players for season ID: 189936
Fetching players for season ID: 188979
Fetching players for season ID: 188132
Fetching players for season ID: 187472
Fetching players for season ID: 186242
Fetching players for season ID: 185764
Fetching players for season ID: 185567
Fetching players for season ID: 181392
Fetching players for season ID: 11161
Fetching players for season ID: 9541

878

<font size="3">**Matchstats for a given MatchId** </font>

In [ ]:
df = get_and_process_advanced_stats(matches_df, client_id, client_secret, country)

Data for matchId: 5468343 has been processed and saved to SQL.
Data for matchId: 5468346 has been processed and saved to SQL.
Data for matchId: 5468347 has been processed and saved to SQL.
Data for matchId: 5468348 has been processed and saved to SQL.
Data for matchId: 5468344 has been processed and saved to SQL.
Data for matchId: 5468342 has been processed and saved to SQL.
Data for matchId: 5468349 has been processed and saved to SQL.
Data for matchId: 5468341 has been processed and saved to SQL.
Data for matchId: 5468345 has been processed and saved to SQL.
Data for matchId: 5468327 has been processed and saved to SQL.
Data for matchId: 5468325 has been processed and saved to SQL.
Data for matchId: 5468335 has been processed and saved to SQL.
Data for matchId: 5468333 has been processed and saved to SQL.
Data for matchId: 5468337 has been processed and saved to SQL.
Data for matchId: 5468332 has been processed and saved to SQL.
Data for matchId: 5468338 has been processed and saved to SQL.
Data for matchId: 5468334 has been processed and saved to SQL.
Data for matchId: 5468339 has been processed and saved to SQL.
Data for matchId: 5468336 has been processed and saved to SQL.
Data for matchId: 5468340 has been processed and saved to SQL.
Data for matchId: 5468328 has been processed and saved to SQL.
Data for matchId: 5468331 has been processed and saved to SQL.
Data for matchId: 5468330 has been processed and saved to SQL.
Data for matchId: 5468329 has been processed and saved to SQL.
Data for matchId: 5468324 has been processed and saved to SQL.
Data for matchId: 5468323 has been processed and saved to SQL.
Data for matchId: 5468326 has been processed and saved to SQL.
Data for matchId: 5468321 has been processed and saved to SQL.
Data for matchId: 5468314 has been processed and saved to SQL.
Data for matchId: 5468316 has been processed and saved to SQL.
Data for matchId: 5468320 has been processed and saved to SQL.
Data for matchId: 5468315 has been processed and saved to SQL.
Data for matchId: 5468318 has been processed and saved to SQL.
Data for matchId: 5468319 has been processed and saved to SQL.
Data for matchId: 5468317 has been processed and saved to SQL.
Data for matchId: 5468322 has been processed and saved to SQL.
Data for matchId: 5468312 has been processed and saved to SQL.
Data for matchId: 5468313 has been processed and saved to SQL.
Data for matchId: 5468308 has been processed and saved to SQL.
Data for matchId: 5468309 has been processed and saved to SQL.
Data for matchId: 5468310 has been processed and saved to SQL.
Data for matchId: 5468311 has been processed and saved to SQL.
Data for matchId: 5468305 has been processed and saved to SQL.
Data for matchId: 5468306 has been processed and saved to SQL.
Data for matchId: 5468307 has been processed and saved to SQL.
Data for matchId: 5468297 has been processed and saved to SQL.
Data for matchId: 5468303 has been processed and saved to SQL.
Data for matchId: 5468296 has been processed and saved to SQL.
Data for matchId: 5468304 has been processed and saved to SQL.
Data for matchId: 5468302 has been processed and saved to SQL.
Data for matchId: 5468301 has been processed and saved to SQL.
Data for matchId: 5468300 has been processed and saved to SQL.
Data for matchId: 5468299 has been processed and saved to SQL.
Data for matchId: 5468298 has been processed and saved to SQL.
Data for matchId: 5468294 has been processed and saved to SQL.
Data for matchId: 5468292 has been processed and saved to SQL.
Data for matchId: 5468288 has been processed and saved to SQL.
Data for matchId: 5468290 has been processed and saved to SQL.
Data for matchId: 5468295 has been processed and saved to SQL.
Data for matchId: 5468287 has been processed and saved to SQL.
Data for matchId: 5468293 has been processed and saved to SQL.
Data for matchId: 5468291 has been processed and saved to SQL.
Data for matchId: 5468289 has been processed and saved to SQL.
Data for matchId: 5468279 has been processed and saved to SQL.
Data for matchId: 5468283 has been processed and saved to SQL.
Data for matchId: 5468282 has been processed and saved to SQL.
Data for matchId: 5468285 has been processed and saved to SQL.
Data for matchId: 5468280 has been processed and saved to SQL.
Data for matchId: 5468278 has been processed and saved to SQL.
Data for matchId: 5468286 has been processed and saved to SQL.
Data for matchId: 5468284 has been processed and saved to SQL.
Data for matchId: 5468281 has been processed and saved to SQL.
Data for matchId: 5468275 has been processed and saved to SQL.
Data for matchId: 5468274 has been processed and saved to SQL.
Data for matchId: 5468273 has been processed and saved to SQL.
Data for matchId: 5468271 has been processed and saved to SQL.
Data for matchId: 5468270 has been processed and saved to SQL.
Data for matchId: 5468276 has been processed and saved to SQL.
Error processing matchId: 5468269. Response code: 400. Response text: {"error":{"code":404,"message":"Not Found: No statistical data available"}}
No advanced stats data for matchId: 5468269
Data for matchId: 5468272 has been processed and saved to SQL.
Data for matchId: 5468277 has been processed and saved to SQL.
Data for matchId: 5468261 has been processed and saved to SQL.
Data for matchId: 5468262 has been processed and saved to SQL.
Data for matchId: 5468267 has been processed and saved to SQL.
Data for matchId: 5468266 has been processed and saved to SQL.
Data for matchId: 5468260 has been processed and saved to SQL.
Data for matchId: 5468263 has been processed and saved to SQL.
Data for matchId: 5468264 has been processed and saved to SQL.
Data for matchId: 5468268 has been processed and saved to SQL.
Data for matchId: 5468265 has been processed and saved to SQL.
Data for matchId: 5464015 has been processed and saved to SQL.
Data for matchId: 5463358 has been processed and saved to SQL.
Data for matchId: 5463357 has been processed and saved to SQL.
Data for matchId: 5351903 has been processed and saved to SQL.
Data for matchId: 5351904 has been processed and saved to SQL.
Data for matchId: 5351905 has been processed and saved to SQL.
Data for matchId: 5351906 has been processed and saved to SQL.
Data for matchId: 5351907 has been processed and saved to SQL.
Data for matchId: 5351908 has been processed and saved to SQL.
Data for matchId: 5351909 has been processed and saved to SQL.
Data for matchId: 5351910 has been processed and saved to SQL.
Data for matchId: 5351911 has been processed and saved to SQL.
Data for matchId: 5351899 has been processed and saved to SQL.
Data for matchId: 5351897 has been processed and saved to SQL.
Data for matchId: 5351894 has been processed and saved to SQL.
Data for matchId: 5351896 has been processed and saved to SQL.
Data for matchId: 5351895 has been processed and saved to SQL.
Data for matchId: 5351902 has been processed and saved to SQL.
Data for matchId: 5351898 has been processed and saved to SQL.
Data for matchId: 5351900 has been processed and saved to SQL.
Data for matchId: 5351901 has been processed and saved to SQL.
Data for matchId: 5351892 has been processed and saved to SQL.
Data for matchId: 5351889 has been processed and saved to SQL.
Data for matchId: 5351893 has been processed and saved to SQL.
Data for matchId: 5351891 has been processed and saved to SQL.
Data for matchId: 5351886 has been processed and saved to SQL.
Data for matchId: 5351890 has been processed and saved to SQL.
Data for matchId: 5351887 has been processed and saved to SQL.
Data for matchId: 5351888 has been processed and saved to SQL.
Data for matchId: 5351885 has been processed and saved to SQL.
Data for matchId: 5351877 has been processed and saved to SQL.
Data for matchId: 5351878 has been processed and saved to SQL.
Data for matchId: 5351883 has been processed and saved to SQL.
Data for matchId: 5351879 has been processed and saved to SQL.
Data for matchId: 5351880 has been processed and saved to SQL.
Data for matchId: 5351881 has been processed and saved to SQL.
Data for matchId: 5351884 has been processed and saved to SQL.
Data for matchId: 5351876 has been processed and saved to SQL.
Data for matchId: 5351882 has been processed and saved to SQL.

Data for matchId: 5351869 has been processed and saved to SQL.
Data for matchId: 5351874 has been processed and saved to SQL.
Data for matchId: 5351867 has been processed and saved to SQL.
Data for matchId: 5351870 has been processed and saved to SQL.
Data for matchId: 5351871 has been processed and saved to SQL.
Data for matchId: 5351872 has been processed and saved to SQL.
Data for matchId: 5351873 has been processed and saved to SQL.
Data for matchId: 5351868 has been processed and saved to SQL.
Data for matchId: 5351875 has been processed and saved to SQL.
Data for matchId: 5351862 has been processed and saved to SQL.
Data for matchId: 5351860 has been processed and saved to SQL.
Data for matchId: 5351861 has been processed and saved to SQL.
Data for matchId: 5351864 has been processed and saved to SQL.
Data for matchId: 5351859 has been processed and saved to SQL.
Data for matchId: 5351865 has been processed and saved to SQL.
Data for matchId: 5351858 has been processed and saved to SQL.
Data for matchId: 5351863 has been processed and saved to SQL.
Data for matchId: 5351866 has been processed and saved to SQL.
Data for matchId: 5351855 has been processed and saved to SQL.
Data for matchId: 5351856 has been processed and saved to SQL.
Data for matchId: 5351849 has been processed and saved to SQL.
Data for matchId: 5351854 has been processed and saved to SQL.
Data for matchId: 5351850 has been processed and saved to SQL.
Data for matchId: 5351851 has been processed and saved to SQL.
Data for matchId: 5351852 has been processed and saved to SQL.
Data for matchId: 5351853 has been processed and saved to SQL.
Data for matchId: 5351857 has been processed and saved to SQL.
Data for matchId: 5351842 has been processed and saved to SQL.
Data for matchId: 5351843 has been processed and saved to SQL.
Data for matchId: 5351840 has been processed and saved to SQL.
Data for matchId: 5351847 has been processed and saved to SQL.
Data for matchId: 5351845 has been processed and saved to SQL.
Data for matchId: 5351841 has been processed and saved to SQL.
Data for matchId: 5351846 has been processed and saved to SQL.
Data for matchId: 5351844 has been processed and saved to SQL.
Data for matchId: 5351848 has been processed and saved to SQL.
Data for matchId: 5351821 has been processed and saved to SQL.
Data for matchId: 5351832 has been processed and saved to SQL.
Data for matchId: 5351835 has been processed and saved to SQL.
Data for matchId: 5351836 has been processed and saved to SQL.
Data for matchId: 5351839 has been processed and saved to SQL.
Data for matchId: 5351837 has been processed and saved to SQL.
Data for matchId: 5351834 has been processed and saved to SQL.
Data for matchId: 5351833 has been processed and saved to SQL.
Data for matchId: 5351838 has been processed and saved to SQL.
Data for matchId: 5351831 has been processed and saved to SQL.
Data for matchId: 5351817 has been processed and saved to SQL.
Data for matchId: 5351819 has been processed and saved to SQL.
Data for matchId: 5351824 has been processed and saved to SQL.
Data for matchId: 5351828 has been processed and saved to SQL.
Data for matchId: 5351826 has been processed and saved to SQL.
Data for matchId: 5351822 has been processed and saved to SQL.
Data for matchId: 5351827 has been processed and saved to SQL.
Data for matchId: 5351829 has been processed and saved to SQL.
Data for matchId: 5351830 has been processed and saved to SQL.
Data for matchId: 5351825 has been processed and saved to SQL.
Data for matchId: 5351823 has been processed and saved to SQL.
Data for matchId: 5351820 has been processed and saved to SQL.
Data for matchId: 5351816 has been processed and saved to SQL.
Data for matchId: 5351813 has been processed and saved to SQL.
Data for matchId: 5351815 has been processed and saved to SQL.
Data for matchId: 5351814 has been processed and saved to SQL.
Data for matchId: 5351818 has been processed and saved to SQL.
Data for matchId: 5351809 has been processed and saved to SQL.
Data for matchId: 5351810 has been processed and saved to SQL.
Data for matchId: 5351805 has been processed and saved to SQL.
Data for matchId: 5351804 has been processed and saved to SQL.
Data for matchId: 5351807 has been processed and saved to SQL.
Data for matchId: 5351808 has been processed and saved to SQL.
Data for matchId: 5351811 has been processed and saved to SQL.
Data for matchId: 5351812 has been processed and saved to SQL.
Data for matchId: 5351806 has been processed and saved to SQL.
Data for matchId: 5351797 has been processed and saved to SQL.
Data for matchId: 5351798 has been processed and saved to SQL.
Data for matchId: 5351801 has been processed and saved to SQL.
Data for matchId: 5351800 has been processed and saved to SQL.
Data for matchId: 5351803 has been processed and saved to SQL.
Data for matchId: 5351795 has been processed and saved to SQL.
Data for matchId: 5351796 has been processed and saved to SQL.
Data for matchId: 5351802 has been processed and saved to SQL.
Data for matchId: 5351799 has been processed and saved to SQL.
Data for matchId: 5351791 has been processed and saved to SQL.
Data for matchId: 5351787 has been processed and saved to SQL.
Data for matchId: 5351786 has been processed and saved to SQL.
Data for matchId: 5351790 has been processed and saved to SQL.
Data for matchId: 5351793 has been processed and saved to SQL.
Data for matchId: 5351788 has been processed and saved to SQL.
Data for matchId: 5351789 has been processed and saved to SQL.
Data for matchId: 5351792 has been processed and saved to SQL.
Data for matchId: 5351794 has been processed and saved to SQL.
Data for matchId: 5351782 has been processed and saved to SQL.
Data for matchId: 5351779 has been processed and saved to SQL.
Data for matchId: 5351781 has been processed and saved to SQL.
Data for matchId: 5351784 has been processed and saved to SQL.
Data for matchId: 5351777 has been processed and saved to SQL.
Data for matchId: 5351778 has been processed and saved to SQL.
Data for matchId: 5351780 has been processed and saved to SQL.
Data for matchId: 5351785 has been processed and saved to SQL.
Data for matchId: 5351783 has been processed and saved to SQL.
Data for matchId: 5351771 has been processed and saved to SQL.
Data for matchId: 5351772 has been processed and saved to SQL.
Data for matchId: 5351774 has been processed and saved to SQL.
Data for matchId: 5351769 has been processed and saved to SQL.
Data for matchId: 5351768 has been processed and saved to SQL.
Data for matchId: 5351773 has been processed and saved to SQL.
Data for matchId: 5351775 has been processed and saved to SQL.
Data for matchId: 5351776 has been processed and saved to SQL.
Data for matchId: 5351770 has been processed and saved to SQL.
Data for matchId: 5351763 has been processed and saved to SQL.
Data for matchId: 5351760 has been processed and saved to SQL.
Data for matchId: 5351766 has been processed and saved to SQL.
Data for matchId: 5351759 has been processed and saved to SQL.
Data for matchId: 5351762 has been processed and saved to SQL.
Data for matchId: 5351764 has been processed and saved to SQL.
Data for matchId: 5351767 has been processed and saved to SQL.
Data for matchId: 5351761 has been processed and saved to SQL.
Data for matchId: 5351765 has been processed and saved to SQL.
Data for matchId: 5351753 has been processed and saved to SQL.
Data for matchId: 5351756 has been processed and saved to SQL.
Data for matchId: 5351758 has been processed and saved to SQL.
Data for matchId: 5351755 has been processed and saved to SQL.
Data for matchId: 5351752 has been processed and saved to SQL.
Data for matchId: 5351754 has been processed and saved to SQL.
Data for matchId: 5351751 has been processed and saved to SQL.
Data for matchId: 5351757 has been processed and saved to SQL.
Data for matchId: 5351750 has been processed and saved to SQL.
Data for matchId: 5351746 has been processed and saved to SQL.
Data for matchId: 5351743 has been processed and saved to SQL.
Data for matchId: 5351745 has been processed and saved to SQL.
Data for matchId: 5351742 has been processed and saved to SQL.
Data for matchId: 5351741 has been processed and saved to SQL.

Data for matchId: 5351744 has been processed and saved to SQL.
Data for matchId: 5351747 has been processed and saved to SQL.
Data for matchId: 5351749 has been processed and saved to SQL.
Data for matchId: 5351748 has been processed and saved to SQL.
Data for matchId: 5351740 has been processed and saved to SQL.
Data for matchId: 5351739 has been processed and saved to SQL.
Data for matchId: 5351738 has been processed and saved to SQL.
Data for matchId: 5351735 has been processed and saved to SQL.
Data for matchId: 5351733 has been processed and saved to SQL.
Data for matchId: 5351737 has been processed and saved to SQL.
Data for matchId: 5351732 has been processed and saved to SQL.
Data for matchId: 5351734 has been processed and saved to SQL.
Data for matchId: 5351736 has been processed and saved to SQL.
Data for matchId: 5351723 has been processed and saved to SQL.
Data for matchId: 5351728 has been processed and saved to SQL.
Data for matchId: 5351724 has been processed and saved to SQL.
Data for matchId: 5351725 has been processed and saved to SQL.
Data for matchId: 5351726 has been processed and saved to SQL.
Data for matchId: 5351727 has been processed and saved to SQL.
Data for matchId: 5351729 has been processed and saved to SQL.
Data for matchId: 5351730 has been processed and saved to SQL.
Data for matchId: 5351731 has been processed and saved to SQL.
Data for matchId: 5351707 has been processed and saved to SQL.
Data for matchId: 5351712 has been processed and saved to SQL.
Data for matchId: 5351719 has been processed and saved to SQL.
Data for matchId: 5351714 has been processed and saved to SQL.
Data for matchId: 5351717 has been processed and saved to SQL.
Data for matchId: 5351718 has been processed and saved to SQL.
Data for matchId: 5351720 has been processed and saved to SQL.
Data for matchId: 5351721 has been processed and saved to SQL.
Data for matchId: 5351716 has been processed and saved to SQL.
Data for matchId: 5351722 has been processed and saved to SQL.
Data for matchId: 5351715 has been processed and saved to SQL.
Data for matchId: 5351612 has been processed and saved to SQL.
Data for matchId: 5351711 has been processed and saved to SQL.
Data for matchId: 5351709 has been processed and saved to SQL.
Data for matchId: 5351708 has been processed and saved to SQL.
Data for matchId: 5351710 has been processed and saved to SQL.
Data for matchId: 5351705 has been processed and saved to SQL.
Data for matchId: 5351713 has been processed and saved to SQL.
Error processing matchId: 5351706. Response code: 400. Response text: {"error":{"code":404,"message":"Not Found: No statistical data available"}}
No advanced stats data for matchId: 5351706
Data for matchId: 5351697 has been processed and saved to SQL.
Data for matchId: 5351704 has been processed and saved to SQL.
Data for matchId: 5351696 has been processed and saved to SQL.
Data for matchId: 5351702 has been processed and saved to SQL.
Data for matchId: 5351701 has been processed and saved to SQL.
Data for matchId: 5351700 has been processed and saved to SQL.
Data for matchId: 5351699 has been processed and saved to SQL.
Data for matchId: 5351703 has been processed and saved to SQL.
Data for matchId: 5351698 has been processed and saved to SQL.
Data for matchId: 5351688 has been processed and saved to SQL.
Data for matchId: 5351694 has been processed and saved to SQL.
Data for matchId: 5351689 has been processed and saved to SQL.
Data for matchId: 5351691 has been processed and saved to SQL.
Data for matchId: 5351692 has been processed and saved to SQL.
Data for matchId: 5351693 has been processed and saved to SQL.
Data for matchId: 5351695 has been processed and saved to SQL.
Data for matchId: 5351690 has been processed and saved to SQL.
Data for matchId: 5351687 has been processed and saved to SQL.
Data for matchId: 5351679 has been processed and saved to SQL.
Data for matchId: 5351685 has been processed and saved to SQL.

<font size="3">**Events for a given MatchID** </font>

In [ ]:
with engine.connect() as conn:
    odds_data = pd.read_sql(f"{country}_advancedmatchstats", conn)
   
match_dict = {}
for idx, row in odds_data.iterrows():
    match_dict[row['match_id']] = {'home_id': row['home_id'], 'away_id': row['away_id']}

In [ ]:
season_ids = df_filtered['seasonId'].unique()
get_match_events(matches_df, client_id, client_secret, season_ids, country, match_dict)

<font size="3">**Playerstats for a MatchId** </font>

In [ ]:
df_player = get_and_process_advanced_stats_player(matches_df, client_id, client_secret)

<font size="3">**Detailed Match Data for a given MatchId** </font>

In [ ]:
flattened_data = []

for match_id in matches_df['matchId']:
    print(f"Processing matchId: {match_id}")
    flattened_data.append(get_formations(match_id, headers))

formations_df = pd.DataFrame(flattened_data)
for col in ['home_1h', 'home_2h', 'away_1h', 'away_2h']:
    formations_df[col] = formations_df[col].apply(json.dumps)

<font size="3">**Players Contract** </font>

In [ ]:
player_contract_info_df = get_player_contract_info(PLAYERS, client_id, client_secret)

<font size="3">**Teams Transfers** </font>

In [ ]:
transfers_df = get_team_transfers(teams_df, client_id, client_secret)

<font size="3">**Full Squad** </font>

In [ ]:
squad_df = get_full_squad(teams_df, client_id, client_secret, season=None)

In [ ]:
list_dict_columns = [col for col in squad_df.columns if squad_df[col].apply(lambda x: isinstance(x, list) and any(isinstance(i, dict) for i in x)).any()]

for col in list_dict_columns:
    squad_df[col] = squad_df[col].apply(list_dicts_to_json)

try:
    squad_df.to_sql('segunda_b_squad_df', engine, if_exists='append', index=False)
except Exception as e:
    print(f"An error occurred: {e}")

<font size="3">**Player Details** </font>

In [ ]:
players_details = get_player_details(PLAYERS, client_id, client_secret)

In [ ]:
import json
dict_columns = [col for col in players_details.columns if players_details[col].apply(type).eq(dict).any()]
for col in dict_columns:
    players_details[col] = players_details[col].apply(lambda x: json.dumps(x) if isinstance(x, dict) else x)
players_details.to_sql('segunda_b_players_details', engine, if_exists='append', index=False)